header {
    background-color: #892045;
    color: #FFFEFE;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid #892045;
}
main {
    background-color: #FFFEFE;
    color: #660228;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
}
img {
    width: 79px;
    height: 79px;
}
.artigo-autor {
    font-weight: bold;

}